#admin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #eee;
  .admin {
    &-wrap {
      display: flex;
      padding: 10px 0;
      width: 100%;
      max-width: 1280px;
      margin: 1px auto 58px auto;
      background-color: #fff;
      @media screen and (min-width: 1280px) {
        margin: 16px auto 58px auto;
      }
    }
    &-sider {
      height: 100%;
    }
    &-main {
      padding: 20px;
      flex: 1;
    }
  }
}
