#admin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  .admin {
    &-wrap {
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 58px;
      display:   flex;
      width: 100%;
    }
    &-sider {
      height: 100%;
    }
    &-main {
      padding: 20px;
      flex: 1;
    }
  }
}
